html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    float:left;
    background-color:#B8EA95;
}

body, .page {
    text-align: center;
    background: #B8EA95;
    font-family: Arial;
    width:100%;
    height: 100%;
    display:block;
    float:left;
    min-height: 100%;  
}

iframe {border: 1px solid #ccc!important; padding: 20px; background: #fff;border-radius:10px;}
h1 {
    font-size: 28pt;
    letter-spacing: 12px;
    border-bottom: 1px solid #ddd;
    margin: 0;
}
#imagen {
    max-width: 290px;
    height: 290px;
    width: 290px;
    box-shadow: inset 0 0 95px #333, inset 2px 2px 10px #222;
    border-radius: 100%;
    overflow: hidden;
    margin: 10px auto;
    border: 5px solid #3d6328;
    background: url('../images/bg.jpg');
    background-size: cover;}

p.title { font-family: Arial; font-size: 25px; color: #FFF; text-shadow: 1px 1px 3px #ccc; font-weight: bolder; text-transform: uppercase;}
#container {
    color: #000;
}

#countdown_dashboard {
    max-height: 115px;
    margin: 0 auto;
    position: relative;
    top: -120px;
}

.dash {
    max-height: 115px;
    background: #619641 0 0 no-repeat;
    border-radius: 10px;
    border: 1px solid #3d6328;
    box-shadow: 1px 1px 5px #3d6328,inset 1px 1px 5px #619641;
    float: left;
    width: 24%;
    margin-left: 1%;
    position: relative;
    padding: 1%;
    overflow: hidden;
}
.dash.seconds_dash {margin-right: 1%!important;width:23%!important;}

.dash .digit {
    font-size: 2em;
    text-shadow: 1px 1px 3px  #666;
    font-weight: bold;
    float: left;
    width: 50%;
    min-height: 41px;
    text-align: center;
    font-family: Arial;
    color: #fff;
    position: relative;
    -webkit-transition: all 0.3s ease; transition: all 0.3s ease;
    overflow: hidden;
}
.dash.days_dash .digit {width: 33%!important;}
.dash_title {
    width: 100%;
    display:block;
    font-weight: bolder;
    text-align: center;
    text-shadow: 1px 1px 3px #666;
    font-size: 7px;
    color: #fff;
    text-transform: uppercase;
    float:left;
}


.dev_comment {
    font-size: 14pt;
    color: #777;
    text-align: center;
    font-style: italic;
    margin: 40px 10px;
}

#subscribe_form {
    position: relative;
} 

#email_field {
    font-size: 16pt;
    padding: 6px 10px;
    width: 300px;
}

#subscribe_button {
    font-size: 14pt;
    color: #333;
    padding: 4px 8px;
}

.copyright {
    font-size: 9pt;
    color: #333;
    margin: 40px 0px;
}

.faded {
    color: #999;
}

.form_message {
    width: 400px;
    padding: 10px;
    margin: 15px auto;
    display: none;
}

#error_message {
    background-color: #ffe;
    border-left: 5px solid #bb3;
    border-right: 5px solid #bb3;
    color: #770;
}

#info_message {
    background-color: #f0f9ff;
    border: 1px solid #eef;
}

#loading {
    text-align: center;
    margin: 10px;
    display: none;
    position: absolute;
    width: 100%;
    top: 60px;
}
